* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  color: #1b274a;
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.breadcrumbs {
  margin: 42px 0px 58px 0px;
}
.breadcrumbs__list {
  display: flex;
  overflow-y: auto;
  padding: 6px 0;
}
.breadcrumbs__list::before {
  content: "";
  position: relative;
  bottom: 5px;
  min-width: 25px;
  min-height: 24px;
  background-size: 25px 24px;
  background: url("../img/home.svg") top center no-repeat;
}
.breadcrumbs__item {
  position: relative;
  padding-right: 20px;
  margin: 0 6px;
}
.breadcrumbs__item::after {
  content: ">";
  position: absolute;
  right: 0px;
  font-size: 19px;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__link {
  font-size: 16px;
  line-height: 24px;
  color: #3897f0;
}
.breadcrumbs__link--active {
  color: #ff7800;
}

.contacts {
  position: relative;
  margin-bottom: 64px;
}
.contacts__title {
  font-weight: 500;
  font-size: 46px;
  line-height: 69px;
  /* or 150% */
  /* 1B274A */
  color: #1b274a;
  margin-bottom: 48px;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
}
.contacts__hospital {
  width: 300px;
  position: relative;
  padding-right: 100px;
}
.contacts__hospital::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 190px;
  background: #ffc38d;
  border-radius: 8px;
  top: 0;
  right: 0;
}
.contacts__inner-title, .contacts__inner-phone, .contacts__inner-email {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #1b274a;
}
.contacts__hospital-list li:last-child {
  margin-top: 6px;
}
.contacts__hospital-item {
  margin-bottom: 18px;
}
.contacts__inner-title {
  margin-bottom: 32px;
}
.contacts__shop {
  width: 335px;
  padding-right: 48px;
  position: relative;
}
.contacts__shop::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 190px;
  background: #ffc38d;
  border-radius: 8px;
  top: 0;
  right: 0;
}
.contacts__shop-list li:last-child {
  margin-top: 6px;
}
.contacts__shop-item {
  margin-bottom: 18px;
}
.contacts__connection {
  align-self: center;
  width: 270px;
  margin-right: 60px;
  padding-bottom: 20px;
}
.contacts__connection-btn {
  display: flex;
  justify-content: center;
  background-color: #ff7800;
  border-radius: 4px;
  padding: 16px 52px 16px 32px;
  transition: all 0.3s ease 0s;
}
.contacts__connection-btn:hover {
  background-color: #ffa14d;
}
.contacts__connection-btn:active {
  background-color: #b35300;
}
.contacts__connection-btn span {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding-right: 10px;
}
.contacts__trace {
  position: absolute;
  top: -25px;
  left: 83%;
}

.contacts__shop-clock span,
.contacts__hospital-clock span {
  position: relative;
}
.contacts__shop-clock span svg,
.contacts__hospital-clock span svg {
  position: absolute;
  top: -28px;
  right: -35px;
}

.social {
  background: rgba(56, 151, 240, 0.1);
}
.social__inner {
  padding: 25px 0px;
  position: relative;
}
.social__inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #ffc38d;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.social__list {
  display: flex;
  justify-content: center;
}
.social__list li a {
  margin-right: 64px;
}
.social__list li:last-child a {
  margin-right: 0;
}
.social__item {
  display: flex;
  align-items: center;
}
.social__item-img {
  margin-right: 24px;
}
.social__item-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ff7800;
}

.address {
  position: relative;
  font-weight: 500;
}
.address__info {
  display: none;
  position: absolute;
  z-index: 100;
  bottom: 48px;
  top: 48px;
  right: 50%;
  left: 5%;
  padding: 64px 100px;
  background-color: #ffffff;
  box-shadow: -10px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width: 770px;
  height: 606px;
  display: flex;
  flex-direction: column;
}
.address__decoration {
  padding-bottom: 13px;
  position: relative;
}
.address__decoration::after {
  content: "";
  position: absolute;
  background: rgba(255, 195, 141, 0.64);
  border-radius: 8px;
  height: 2px;
  width: 69px;
  bottom: 0;
  left: 0;
}
.address__help {
  font-size: 22px;
  line-height: 33px;
  color: #1b274a;
}
.address__info-title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 32px;
}
.address__info-metro {
  display: flex;
}
.address__info-metro svg {
  margin-right: 18px;
}
.address__info-timing {
  margin: 32px 0px;
}
.address__info-stopping {
  margin-bottom: 18px;
}
.address__info-parking {
  margin-bottom: 48px;
}
.address__info-way {
  color: #ff7800;
}

.meta-info {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6d758b;
}

.yandex-cards {
  height: 800px;
}

@media (min-width: 2400px) {
  .contacts__trace {
    position: absolute;
    top: -25px;
    left: 74%;
  }
}
@media (max-width: 1400px) {
  .address__info {
    padding: 64px 50px;
    width: 670px;
    height: 606px;
  }
}
@media (max-width: 1200px) {
  .contacts__connection {
    margin-left: 10px;
  }
  .contacts__shop {
    margin-left: 10px;
  }

  .address__info {
    padding: 25px 25px;
    width: 580px;
    height: 606px;
  }
}
@media (max-width: 1005px) {
  .address__info {
    position: relative;
    padding: 48px 0px;
    background-color: #ffffff;
    top: 0;
    left: 0;
    box-shadow: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
  }
  .address__info-title {
    margin-bottom: 24px;
  }
  .address__info-timing {
    margin: 24px 0px;
  }
  .address__info-parking {
    margin-bottom: 12px;
  }

  .breadcrumbs {
    margin: 26px 0px 42px;
  }

  .contacts {
    margin-bottom: 48px;
  }
  .contacts__inner {
    flex-wrap: wrap;
    justify-content: start;
  }
  .contacts__title {
    margin-bottom: 32px;
  }
  .contacts__inner-title {
    margin-bottom: 24px;
  }
  .contacts__connection {
    margin-left: 0px;
    padding: 20px 0px 0px 0px;
  }
  .contacts__hospital {
    width: auto;
    padding-right: 30px;
  }
  .contacts__shop {
    width: 50%;
    margin-left: 20px;
    padding-right: 0;
  }
  .contacts__shop::after {
    display: none;
  }
  .contacts__trace {
    top: 62%;
    left: 54%;
  }

  .social__list {
    display: flex;
    justify-content: space-between;
  }
  .social__list li a {
    display: none;
  }
  .social__item-img {
    width: 40px;
    height: 40px;
    margin-right: 0;
  }

  h1 {
    font-size: 36px !important;
    line-height: 40px !important;
  }

  h2 {
    font-size: 24px !important;
    line-height: 32px !important;
  }

  h3 {
    font-size: 22px !important;
    line-height: 33px !important;
  }

  .__container {
    max-width: 576px;
  }

  .map-height {
    height: 600px !important;
  }
}
@media (max-width: 700px) {
  .contacts__shop {
    width: auto;
  }
}
@media (max-width: 590px) {
  .breadcrumbs {
    margin: 18px 0px 26px;
  }

  .contacts__title {
    margin-bottom: 24px;
  }
  .contacts__hospital {
    margin-bottom: 24px;
  }
  .contacts__hospital::after {
    display: none;
  }
  .contacts__hospital::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 156px;
    background: #ffc38d;
    border-radius: 8px;
    left: 0;
    top: 100%;
  }
  .contacts__hospital-item, .contacts__shop-item {
    margin-bottom: 8px;
  }
  .contacts__hospital-list, .contacts__shop-list {
    margin-bottom: 24px;
  }
  .contacts__hospital-list li:last-child, .contacts__shop-list li:last-child {
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .contacts__shop {
    width: 100%;
    margin-left: 0px;
  }
  .contacts__shop::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 156px;
    background: #ffc38d;
    border-radius: 8px;
    left: 0;
    top: 100%;
  }
  .contacts__trace {
    top: 21%;
    left: 67%;
    width: 100px;
    height: 100px;
  }
  .contacts__connection {
    padding-top: 20px;
    margin-left: 0px;
    width: 100%;
    margin-right: 0;
  }
  .contacts__connection-title {
    max-width: 270px;
  }
  .contacts__connection-btn {
    padding: 14px 60px;
  }
  .contacts__connection-btn span {
    font-size: 14px;
    line-height: 22px;
  }

  .social__inner {
    padding: 10px 0px;
  }
  .social__inner::after {
    display: none;
  }
  .social__list {
    justify-content: space-around;
  }
  .social__item-img {
    width: 30px;
    height: 30px;
  }

  .address__info {
    padding: 32px 0px;
  }
  .address__help {
    font-size: 18px;
    line-height: 22px;
  }
  .address .meta-info {
    font-size: 14px;
    line-height: 20px;
  }

  h1 {
    font-size: 24px !important;
    line-height: 32px !important;
  }

  h3 {
    font-size: 18px !important;
    line-height: 22px !important;
  }

  .contacts__inner-email,
.contacts__inner-phone {
    font-size: 18px;
    line-height: 22px;
  }

  .contacts__connection-btn {
    font-size: 16px;
  }

  .contacts__shop-clock span svg,
.contacts__hospital-clock span svg {
    width: 35px;
    height: 35px;
    top: -23px;
    right: -30px;
  }

  .map-height {
    height: 320px !important;
  }
}