* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
}

input,
button,
textarea {
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	color: #1b274a;
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.__container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.breadcrumbs {
	margin: 42px 0px 58px 0px;
	&__list {
		display: flex;
		// flex-wrap: wrap;//! если нужен перенос строки
		//overflow-y: auto;//! если нужен скролл на мобильном телефоне
		overflow-y: auto;
		padding: 6px 0;
		&::before {
			content: "";
			position: relative;
			bottom: 5px;
			min-width: 25px;
			min-height: 24px;
			background-size: 25px 24px;
			background: url("../img/home.svg") top center no-repeat;
		}
	}
	&__item {
		position: relative;
		padding-right: 20px;
		margin: 0 6px;
		&::after {
			content: ">";
			position: absolute;
			right: 0px;
			font-size: 19px;
		}
		&:last-child::after {
			display: none;
		}
	}

	&__link {
		font-size: 16px;
		line-height: 24px;
		color: #3897f0;
	}
	// * цвет "хлебных крошек" для текущей страницы
	&__link--active {
		color: #ff7800;
	}
	// * цвет "хлебных крошек" для текущей страницы
}

.contacts {
	position: relative;
	margin-bottom: 64px;

	&__title {
		font-weight: 500;
		font-size: 46px;
		line-height: 69px;
		/* or 150% */

		/* 1B274A */
		color: #1b274a;
		margin-bottom: 48px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__hospital {
		width: 300px;
		position: relative;
		padding-right: 100px;
		&::after {
			content: "";
			position: absolute;
			width: 3px;
			height: 190px;
			background: #ffc38d;
			border-radius: 8px;
			top: 0;
			right: 0;
		}
	}

	&__inner-title,
	&__inner-phone,
	&__inner-email {
		font-weight: 500;
		font-size: 22px;
		line-height: 33px;
		color: #1b274a;
	}

	&__hospital-list {
		li:last-child {
			margin-top: 6px;
		}
	}

	&__hospital-item {
		margin-bottom: 18px;
	}
	&__inner-title {
		margin-bottom: 32px;
	}

	&__shop {
		width: 335px;
		padding-right: 48px;

		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 3px;
			height: 190px;
			background: #ffc38d;
			border-radius: 8px;
			top: 0;
			right: 0;
		}
	}

	&__shop-list {
		li:last-child {
			margin-top: 6px;
		}
	}

	&__shop-item {
		margin-bottom: 18px;
	}
	&__connection {
		width: 270px;
		margin-right: 60px;
	}

	&__connection-btn {
		display: flex;
		justify-content: center;
		background-color: #ff7800;
		border-radius: 4px;
		padding: 16px 52px 16px 32px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #ffa14d;
		}
		&:active {
			background-color: #b35300;
		}
		span {
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
			color: #ffffff;
			padding-right: 10px;
		}
	}

	&__trace {
		position: absolute;
		top: -25px;
		left: 83%;
	}
}

.contacts__shop-clock,
.contacts__hospital-clock {
	span {
		position: relative;
		svg {
			position: absolute;
			top: -28px;
			right: -35px;
		}
	}
}
.social {
	background: rgba(56, 151, 240, 0.1);

	&__inner {
		padding: 25px 0px;

		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 3px;
			background: #ffc38d;
			border-radius: 8px;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}
	&__list {
		display: flex;
		justify-content: center;
		li .social__item-link {
			margin-right: 64px;
		}
		li:last-child .social__item-link {
			margin-right: 0;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		a {
			&:hover {
				color: #ffa14d;
			}
			&:active {
				color: #b35300;
			}
		}
	}
	&__item-img {
		margin-right: 24px;
	}
	&__item-link {
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		color: #ff7800;
	}
}

.address {
	position: relative;
	font-weight: 500;
	&__info {
		display: none;
		position: absolute;
		z-index: 100;
		bottom: 48px;
		top: 48px;
		right: 50%;
		left: 5%;
		padding: 64px 100px;
		background-color: #ffffff;
		box-shadow: -10px 4px 32px rgba(0, 0, 0, 0.08);
		border-radius: 10px;
		width: 770px;
		height: 606px;
		display: flex;
		flex-direction: column;
	}
	&__decoration {
		padding-bottom: 13px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			background: rgba(255, 195, 141, 0.64);
			border-radius: 8px;
			height: 2px;
			width: 69px;
			bottom: 0;
			left: 0;
		}
	}
	&__help {
		font-size: 22px;
		line-height: 33px;
		color: #1b274a;
	}

	&__info-title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 32px;
	}

	&__info-metro {
		display: flex;
		svg {
			margin-right: 18px;
		}
	}
	&__info-timing {
		margin: 32px 0px;
	}

	&__info-stopping {
		margin-bottom: 18px;
	}
	&__info-parking {
		margin-bottom: 48px;
	}

	&__info-way {
		color: #ff7800;
		display: flex;
		align-items: center;
		&:hover {
			span {
				color: #ffa14d;
			}
			svg {
				fill: #ffa14d;
			}
		}
		&:active {
			span {
				color: #b35300;
			}
			svg {
				fill: #b35300;
			}
		}
		svg {
			margin-left: 18px;
			width: 31px;
			height: 14px;
		}
	}
	.icon-arrow {
		fill: #ff7800;
	}
}
.meta-info {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #6d758b;
}

.yandex-cards {
	height: 800px;
}
/*FORM*/
.form {
	padding: 47px 0px 120px 0px;
}
/*Картинки заднего фона*/
.form__inon-01 {
	max-width: 1416px;
	margin: 0 auto;
	position: relative;
}
.form__inon-01 img {
	max-width: 100%;
	position: absolute;
	left: 0px;
	top: 73px;
}
.form__inon-02 {
	max-width: 1360px;
	margin: 0 auto;
	position: relative;
}
.form__inon-02 img {
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 557px;
}

/*Доктор*/
.form__inner {
	display: flex;
	justify-content: space-between;
}
.form__doctor {
	display: flex;
	flex: 0 0 526px;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;

	padding-bottom: 10px;
	margin-right: 22px;
}
.doctor__bg {
	margin: 78px 0px 0px 0px;
}
.doctor__img {
	margin-left: 20px;
}
.doctor__img img {
	max-width: 100%;
}
.doctor__info {
	position: absolute;
	left: 3px;
	bottom: 0;
	background-color: #fff;
	box-shadow: -4px 7px 13px 4px rgba(34, 60, 80, 0.2);

	border-radius: 10px;
	max-width: 500px;
	width: 100%;
	height: 125px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.doctor__info-logo {
	position: absolute;
	right: 0;
	bottom: 67px;
}
.doctor__name {
	font-size: 22px;
	font-weight: 500;
	line-height: 33px;
	margin-bottom: 18px;
}
.doctor__profession {
	font-size: 16px;
	line-height: 24px;
	color: #222;
}

/*Форма*/
.form__question {
	margin: 73px 30px 0px 0px;
}
.question {
	display: flex;
	flex-direction: column;
	flex: 0 1 470px;
}
.question__title {
	font-size: 22px;
	font-weight: 500;
	line-height: 33px;
	margin-bottom: 32px;
}
.question__subtitle {
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 48px;
}
.form__input1,
.form__input2 {
	margin-bottom: 28px;
}
.form__input1,
.form__input2,
.form__input3 {
	position: relative;
}
.form__label {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: 0.3s;
	width: 95%;
}
.form__label span {
	display: none;
}
/* *sdfffffffffffffffffffffffffffffffffffffffffffffff */
.form__name {
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(27, 39, 74, 0.32);
	background-color: transparent;
	outline: none;
	transition: 0.3s;
}
.form__number {
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(27, 39, 74, 0.32);
	background-color: transparent;
	outline: none;
	transition: 0.3s;
}
.form__name:focus ~ .form__label,
.form__name:not(:placeholder-shown) ~ .form__label {
	top: -23px;
	font-size: 13px;
	color: #000;
}
.form__number:focus ~ .form__label,
.form__number:not(:placeholder-shown) ~ .form__label {
	top: -23px;
	font-size: 13px;
	color: #000;
}
.form__name:focus {
	padding-left: 20px;
}
.form__number:focus {
	padding-left: 20px;
}
.form__comment {
	font-size: 16px;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(27, 39, 74, 0.32);
	width: 100%;
	resize: none;
	overflow: hidden;
	line-height: 20px;
}
.form__input3 label {
	color: rgba(27, 39, 74, 0.32);
}
.form__comment:focus ~ .textarea__label,
.form__comment:not(:placeholder-shown) ~ .textarea__label {
	color: #000;
}
.form__input3 {
	display: flex;
	flex-flow: column wrap;
}
.form__comment {
	order: 2;
}
.textarea__label {
	order: 1;
}
.form__input3 {
	margin-bottom: 14px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	margin-bottom: 48px;
}
.form__input3 label {
	padding-bottom: 14px;
}
.form__label {
	color: rgba(27, 39, 74, 0.32);
}
.form__input4 {
	display: flex;
	margin-bottom: 32px;
	position: relative;
}
.form__checkbox {
	display: none;
	position: absolute;
}
.form__checkbox-text {
	padding-left: 48px;
	display: flex;
	align-items: center;
}
.form__checkbox-text::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 8px;
	border: 1px solid #ff7800;
	background-size: 24px 24px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition: opacity 0.1s linear;
}
.form__checkbox-text::after {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	background: url("../img/form/02.svg") no-repeat;
	opacity: 0;
	background-size: 24px 24px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: opacity 0.1s linear;
}
.form__checkbox-text:after {
	opacity: -1;
}
.form__checkbox:checked + .form__checkbox-text:after {
	opacity: 1;
}
.form__checkbox-text a {
	color: #ff7800;
}
.form__checkbox-text a:hover {
	color: #ffa14d;
}
.form__submit {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	background-color: #ff7800;
	border-radius: 4px;
	width: 184px;
	height: 64px;
	transition: all 0.3s ease 0s;
}
.form__submit:hover {
	background-color: #ffa14d;
}
.form__submit:active {
	background-color: #b35300;
}

/*Валидация формы*/
.form__name._error {
	border-bottom: 1px solid rgba(255, 0, 0, 0.64);
}
.form__name._error + label span,
.form__number._error + label span,
.form__number._error + label,
.form__name._error + label {
	color: #ff0000 !important;
}
.form__name._error + label span,
.form__number._error + label span {
	display: flex;

	position: relative;
}
.form__number._error + label,
.form__name._error + label {
	display: flex;
	justify-content: space-between;
}
.form__number._error {
	border-bottom: 1px solid rgba(255, 0, 0, 0.64);
}
.form__input4._error .form__checkbox-text::before {
	border: 1px solid #ff0000;
}
.form__input4._error .form__checkbox-text span {
	color: #ff0000;
}
// медиа запросы
@media (min-width: 2400px) {
	.contacts__trace {
		position: absolute;
		top: -25px;
		left: 74%;
	}
}
@media (max-width: 1400px) {
	.address {
		&__info {
			padding: 64px 50px;
			width: 670px;
			height: 606px;
		}
	}
}
@media (max-width: 1200px) {
	.contacts {
		&__connection {
			margin-left: 10px;
		}
		&__shop {
			margin-left: 10px;
		}
	}
	.address {
		&__info {
			padding: 25px 25px;
			width: 580px;
			height: 606px;
		}
	}
}
@media (max-width: 1005px) {
	.address {
		&__info {
			position: relative;
			padding: 48px 0px;
			background-color: #ffffff;
			top: 0;
			left: 0;
			box-shadow: none;
			border-radius: 10px;
			width: 100%;
			height: 100%;
			display: block;
		}
		&__info-title {
			margin-bottom: 24px;
		}
		&__info-timing {
			margin: 24px 0px;
		}

		&__info-parking {
			margin-bottom: 12px;
		}
	}
	// .address__info-metro.address__help.address__decoration {
	// 	&::after {
	// 		display: none;
	// 	}
	// }
	.breadcrumbs {
		margin: 26px 0px 42px;
	}

	.contacts {
		margin-bottom: 48px;
		&__inner {
			flex-wrap: wrap;
			justify-content: start;
		}
		&__title {
			margin-bottom: 32px;
		}
		&__inner-title {
			margin-bottom: 24px;
		}
		&__connection {
			margin-left: 0px;
			padding: 20px 0px 0px 0px;
		}
		&__hospital {
			width: auto;
			padding-right: 30px;
		}
		&__shop {
			width: 50%;
			margin-left: 20px;
			padding-right: 0;
			&::after {
				display: none;
			}
		}
		&__trace {
			top: 62%;
			left: 54%;
		}
	}
	.social {
		&__list {
			display: flex;
			justify-content: space-between;
			li .social__item-link {
				display: none;
			}
		}
		&__item-img {
			width: 40px;
			height: 40px;
			margin-right: 0;
		}
	}

	h1 {
		font-size: 36px !important;
		line-height: 40px !important;
	}
	h2 {
		font-size: 24px !important;
		line-height: 32px !important;
	}
	h3 {
		font-size: 22px !important;
		line-height: 33px !important;
	}
	.__container {
		max-width: 576px;
	}
	.map-height {
		height: 600px !important;
	}
}

@media (max-width: 700px) {
	.contacts {
		&__shop {
			width: auto;
		}
	}
}
@media (max-width: 590px) {
	.breadcrumbs {
		margin: 18px 0px 26px;
	}
	.contacts {
		&__title {
			margin-bottom: 24px;
		}
		&__hospital {
			margin-bottom: 24px;
			&::after {
				display: none;
			}
			&::before {
				content: "";
				position: absolute;
				height: 2px;
				width: 156px;
				background: #ffc38d;
				border-radius: 8px;
				left: 0;
				top: 100%;
			}
		}
		&__hospital-item,
		&__shop-item {
			margin-bottom: 8px;
		}
		&__hospital-list,
		&__shop-list {
			margin-bottom: 24px;
			li:last-child {
				margin-top: 16px;
				margin-bottom: 0px;
			}
		}
		&__shop {
			width: 100%;
			margin-left: 0px;
			&::before {
				content: "";
				position: absolute;
				height: 2px;
				width: 156px;
				background: #ffc38d;
				border-radius: 8px;
				left: 0;
				top: 100%;
			}
		}
		&__trace {
			top: 21%;
			left: 67%;
			width: 100px;
			height: 100px;
		}
		&__connection {
			padding-top: 20px;
			margin-left: 0px;
			width: 100%;
			margin-right: 0;
		}
		&__connection-title {
			max-width: 270px;
		}
		&__connection-btn {
			padding: 14px 60px;
			span {
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
	.social {
		&__inner {
			padding: 10px 0px;

			&::after {
				display: none;
			}
		}
		&__list {
			justify-content: space-around;
		}
		&__item-img {
			width: 30px;
			height: 30px;
		}
	}
	.address {
		&__info {
			padding: 32px 0px;
		}
		&__help {
			font-size: 18px;
			line-height: 22px;
		}
		.meta-info {
			font-size: 14px;
			line-height: 20px;
		}
	}
	h1 {
		font-size: 24px !important;
		line-height: 32px !important;
	}
	h3 {
		font-size: 18px !important;
		line-height: 22px !important;
	}
	.contacts__inner-email,
	.contacts__inner-phone {
		font-size: 18px;
		line-height: 22px;
	}
	.contacts__connection-btn {
		font-size: 16px;
	}
	.contacts__shop-clock,
	.contacts__hospital-clock {
		span {
			svg {
				width: 35px;
				height: 35px;
				top: -23px;
				right: -30px;
			}
		}
	}
	.map-height {
		height: 320px !important;
	}
}
@media (max-width: 400px) {
	.address {
		&__info-way {
			color: #ff7800;
			max-width: 300px;
			svg {
				width: 42px;
				height: 20px;
			}
		}
	}
}
// media-FORM
/*Media*/
@media (max-width: 1423px) {
	.form__inon-01 {
		display: none;
	}
}
@media (max-width: 1005px) {
	.form__doctor {
		display: none;
	}
	.form__inner {
		display: block;
	}
	.container {
		padding: 0 30px;
	}
	.form__question {
		margin: 78px 0px 0px 0px;
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 542px;
		padding: 0 15px;
	}
	.form__question {
		margin: 78px 0px 0px 0px;
	}
	.question__title {
		margin-bottom: 24px;
	}
	.question__subtitle {
		padding-bottom: 32px;
	}
	.form__input4 {
		margin-bottom: 32px;
	}
	.form__input5 {
		margin-bottom: 24px;
	}
	.form {
		padding: 32px 0px 72px 0px;
	}
	.form__question {
		margin: 40px 0px 0px 0px;
	}
	.form__inon-02 img {
		width: 124px;
		right: 0;
		top: 0px;
	}
}
@media (max-width: 590px) {
	.form__inon-02 img {
		right: 0;
		top: 0px;
		width: 60px;
	}
	.question__title {
		font-size: 18px;
	}
	.question__subtitle {
		font-size: 16px;
	}
}
@media (max-width: 459px) {
	.form__submit {
		width: 100%;
	}
}

@media (max-width: 320px) {
	.container {
		max-width: 302px;
		padding: 0 15px;
	}
	.question__subtitle {
		padding-bottom: 24px;
	}
	.form__input4 {
		margin-bottom: 18px;
	}
	.form {
		padding: 34px 0px 64px 0px;
	}
	.form__question {
		margin: 30px 0px 0px 0px;
	}
}
